<div class="section-content bg-(color:--secondary) py-10 xl:py-28">
    <div class="limited-container flex flex-col gap-10 xl-1230:flex-row justify-between items-center">
        <div class="content flex flex-col gap-y-10 max-w-[616px]">
            <h1 class="text-3xl xl-1230:text-5xl font-bold leading-[120%] !font-['SpaceGrotesk'] text-(color:--primary)">
                Somos a melhor escolha para realizações de manutenções
            </h1>
            <ul class="text-(color:--primary) text-base xl:text-xl font-bold list-disc">
                <li class=" !font-['SpaceGrotesk'] ml-5">Realizamos serviços de manutenção predial</li>
                <li class=" !font-['SpaceGrotesk'] ml-5">Manutenção de Instalações Mêcanicas</li>
                <li class=" !font-['SpaceGrotesk'] ml-5">Manutenção de Redes Têcnicas de Hidráulica e Rede Electricas</li>
            </ul>
        </div>
        <div class="image max-w-[616px] h-[362px] xl:h-[640px]">
            <img src="/images/services/tractor.png" class="w-full h-full object-cover object-center" alt="">
        </div>
    </div>
</div>