<div class="section-container flex flex-col gap-10 xl:gap-28 py-10 xl:py-28">
    <div class="hero-section">
        <posts-hero></posts-hero>
    </div>

    <div class="posts">
        <div class="limited-container flex flex-col gap-8">

            <div class="title">
                <h1 class="font-bold !font-['SpaceGrotesk'] text-2xl xl-1230:text-4xl">Todas as notícias</h1>
            </div>

            <div class="posts-container flex gap-x-10 gap-y-10 flex-wrap justify-between items-stretch">
                @for (post of posts; track $index) {
                    <app-post-card-template
                    [title]="post.title"
                    [excerpt]="post.excerpt"
                    [slug]="post.slug"
                    [imagePath]="post.imagePath"
                    [timeToRead]="post.reading"
                    [posted_at]="post.created"
                    />
                }
            </div>
        </div>
    </div>
</div>