<div [attr.data-aos]="this.animate() ? 'fade-up' : ''" class="post-box relative w-[350px] desktop:w-[370px] h-full">
    <div class="img w-full h-[363px] overflow-hidden rounded-[4px]">
        <a [routerLink]="['/post-details/' + this.slug()]">
            <img src="{{ this.imagePath.fullImagePath }}" class="w-full h-full object-cover object-center" alt="">
        </a>
    </div>
    <div class="middle-details my-5 flex justify-between items-center">
        <div class="data">
            <p class="text-[#808080] text-[14px]">
                {{ this.posted_at() }}
            </p>
        </div>
        <div class="read_time">
            <p class="text-[#808080] text-[14px]">
                {{ this.timeToRead() }}
            </p>
        </div>
    </div>
    <div class="description">
        <div class="main-title">
            <a [routerLink]="[ '/news/details/' + this.slug() ]">
                <h1 class="text-[24px] font-semibold leading-[30px] mb-0" [innerHTML]="this.title()">
                </h1>
            </a>
        </div>
        <div class="main-description my-5">
            <p class="text-[#808080] text-[16px]" [innerHTML]="this.excerpt()">
            </p>
        </div>
    </div>
    <div class="read-more">
        <a [routerLink]="['/news/details/' + this.slug()]" class="w-full bg-primary py-4 px-2 rounded text-[14px] text-white flex gap-3 justify-center items-center">
            Continuar leitura
            <img src="assets/svg/icons/know-more/right-arrow.svg" alt="">
        </a>
    </div>
</div>