<div class="section-container">
    <div class="hero">
        <div class="w-full">      
            <div class=" relative h-[420px] xl:h-[618px] overflow-hidden">
                <img [src]="'/images/projects/project-1.png'" alt="" class="w-full h-full xl:object-cover object-cover object-center" fill>
            </div>
        </div>            
    </div>
    <div class="content">
        <div class="limited-container py-10 xl:py-28 flex flex-col gap-10 xl:gap-20">
            <div class="details">
                <div class="w-full flex flex-wrap xl:flex-nowrap gap-5 justify-start items-start">
                    <div class="main-title flex flex-col xl:gap-12 xl:w-[80%]">
                        <h1 class="text-2xl xl:text-5xl leading-[120%] !font-['SpaceGrotesk'] text-(color:--primary) font-bold mb-4 xl:mb-2 w-full max-w-[671px]">
                            Projecto de Licenciamento e Projecto de Execução
                        </h1>
                        <div class="subtitle w-full xl:flex gap-2 grid grid-cols-2">
                            <div class="w-full flex-col justify-between">
                                <h1 class="text-(color:--primary) text-base font-bold mb-2 !font-[SpaceGrotesk]">Seguimento</h1>
                                <h4 class="text-[#808080] font-medium text-[14px]">Arquitectura</h4>
                            </div>
                            <div class="subtitle w-full flex-col justify-between">
                                <h1 class="text-(color:--primary) text-base font-bold mb-2">Data de Execução</h1>
                                <h4 class="text-[#808080] font-medium text-[14px]">2018 - 2023</h4>
                            </div>
                            <div class="subtitle w-full flex-col justify-between">
                                <h1 class="text-(color:--primary) text-base font-bold mb-2">Cliente</h1>
                                <h4 class="text-[#808080] font-medium text-[14px]">EC-Planos LDA</h4>
                            </div>
                            <div class="subtitle w-full flex-col justify-between">
                                <h1 class="text-(color:--primary) text-base font-bold mb-2">Equipa</h1>
                                <h4 class="text-[#808080] font-medium text-[14px]">Equipa</h4>
                            </div>
                        </div>
                    </div>
                    <p class="text-lg text-(color:--primary) font-medium !font-['SpaceGrotesk'] w-full max-w-[511px]">
                        D.O – Privado | Moradia T7 , 3 pisos, com área total de construção de 460m2. Arquitectura moderna de alto padrão.
                    </p>
                </div>            
            </div>
    
            <div class="project-body flex flex-col gap-10 xl:gap-20">
    
                <div class="flex xl:items-center xl:justify-between gap-10 w-full flex-col xl-1230:flex-row">
                    <div class="main-content-description xl-1230:max-w-[472px]">
                        <div class="section-description xl:w-full xl:mb-10">
                            <p class="text-[#808080] text-[16px] mb-5 xl:mb-8 2xl:w-[97%]">
                                Partindo do pressuposto de um país grande e belo, a EC-Planos, Consultores De Projectos, Lda. nasce da ideia de uma Angola de sonhos, sumptuosa, com perspectivas e bases desenvolvidas para um mercado cada dia mais atrativo, competitivo e com novas oportunidades.
                            </p>
                            <p class="text-[#808080] text-[16px] mb-5 xl:mb-8 2xl:w-[97%]">
                                Partindo do pressuposto de um país grande e belo, a EC-Planos, Consultores De Projectos, Lda. nasce da ideia de uma Angola de sonhos, sumptuosa, com perspectivas e bases desenvolvidas para um mercado cada dia mais atrativo, competitivo e com novas oportunidades.
                            </p>
                        </div>
                    </div>
    
                    <div class="xl:w-[820px] xl:mb-0 mb-3">
                        <img [src]="'/images/projects/project-2.png'" alt="" class="w-full h-full object-cover object-center">
                    </div>
                </div>
    
                <div class="flex xl:items-center xl:justify-between gap-10 w-full flex-col-reverse xl-1230:flex-row-reverse">
                    <div class="main-content-description xl-1230:max-w-[472px]">
                        <div class="section-description xl:w-full xl:mb-10">
                            <p class="text-[#808080] text-[16px] mb-5 xl:mb-8 2xl:w-[97%]">
                                Partindo do pressuposto de um país grande e belo, a EC-Planos, Consultores De Projectos, Lda. nasce da ideia de uma Angola de sonhos, sumptuosa, com perspectivas e bases desenvolvidas para um mercado cada dia mais atrativo, competitivo e com novas oportunidades.
                            </p>
                            <p class="text-[#808080] text-[16px] mb-5 xl:mb-8 2xl:w-[97%]">
                                Partindo do pressuposto de um país grande e belo, a EC-Planos, Consultores De Projectos, Lda. nasce da ideia de uma Angola de sonhos, sumptuosa, com perspectivas e bases desenvolvidas para um mercado cada dia mais atrativo, competitivo e com novas oportunidades.
                            </p>
                        </div>
                    </div>
    
                    <div class="xl:w-[820px] xl:mb-0 mb-3">
                        <img [src]="'/images/projects/project-1.png'" alt="" class="w-full h-full object-cover object-center">
                    </div>
                </div>
    
            </div>
        </div>
    </div>

    <div class="related-projects pb-10 xl:pb-28">
        <div class="limited-container flex flex-col gap-8">
            <div class="title">
                <h1 class="font-bold !font-['SpaceGrotesk'] text-2xl xl:text-4xl">Projectos relacionados</h1>
            </div>

            <div class="projects flex gap-4 flex-col xl-1230:flex-row justify-start items-stretch">

                @for (project of projects; track $index) {
                    <div data-aos="fade-up" class="box-card duration-[.6s] relative w-full xl-1230:w-[60px] h-[440px] xl-1230:h-[720px] overflow-hidden flex items-center"
                    [ngClass]="{
                        ' xl-1230:w-[1008px]' : $index == active(),
                    }"
                    >
                        <a [routerLink]="" class="w-full h-full">
                          <div class="cover-img relative w-full h-full">
                            <!-- <div class="placeholder"></div> -->
                            <img [src]="project.imagePath" fill class="w-full h-full object-cover" alt="">
                          </div>
                          <div class="overlay z-[2] absolute top-0 left-0 w-full h-full"></div>
                          <div class="box-content z-[3] absolute p-0 top-0 left-0 w-full h-full flex flex-col justify-between"
                            [ngClass]="{
                                'p-8': $index == active()
                            }"
                          >
                            <div class="top-content h-full p-6">
                              <!-- <div class="number bg-[#121212] bg-opacity-[10%] w-[23px] h-[23px] flex justify-center items-center rounded-[50%]">
                                <p class="text-[12px] font-semibold text-white">{{ order }}</p>
                              </div> -->
                            </div>
                            <div class="middle absolute top-[50%] left-[50%] hidden xl-1230:block -translate-[50%]"
                            [ngClass]="{
                                'xl-1230:hidden': $index == active()
                            }"
                            >
                                <button class="cursor-pointer" (click)="open($index)">
                                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="40" height="40" rx="20" fill="#FEFEFF"/>
                                        <path d="M27 19H21V13H19V19H13V21H19V27H21V21H27V19Z" fill="#00376D"/>
                                    </svg>
                                </button>
                            </div>
                            <div class="bottom-content h-full flex flex-col gap-6 xl:flex-row justify-between xl:items-end xl:max-h-[120px]"
                            [ngClass]="{
                                'xl-1230:!hidden': $index !== active()
                            }"
                            >
                                <div class="content max-w-[400px] w-full flex flex-col">
                                    <span class="!font-['SpaceGrotesk'] text-white/70 leading-[150%] text-lg">{{ formatIndex($index + 1) }}</span>
                                    <div class="bottom-card-title mb-2">
                                      <h1 class="text-2xl text-white leading-8 !font-['SpaceGrotesk'] font-bold" [innerHTML]="project.name"></h1>
                                    </div>
                                    <div class="bottom-card-description pt-2">
                                      <p class="text-sm xl:text-base font-medium line-clamp-4 !font-['SpaceGrotesk'] leading-[18px] text-white/90" [innerHTML]="project.description"></p>
                                    </div>
                                </div>
                                <div class="button">
                                    <button [routerLink]="['/projects/details/' + project.slug]" class="text-(color:--primary) !font-['SpaceGrotesk'] font-bold bg-white py-4 px-6 cursor-pointer flex gap-3 leading-[150%] justify-between items-center">
                                        Visualizar projecto
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9.70697 16.9496L15.414 11.2426L9.70697 5.53564L8.29297 6.94964L12.586 11.2426L8.29297 15.5356L9.70697 16.9496Z" fill="#00376D"/>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                          </div>
                        </a>
                    </div>
                }
    
            </div>

        </div>
    </div>
</div>