<div data-aos="fade-up" class="hero-section">
    <div class="limited-container flex flex-col gap-10 justify-center items-center">
        <div class="flex items-center justify-center">
            <h4 class="text-base text-primary font-semibold !font-['SpaceGrotesk'] text-(color:--primary)">Notícias</h4>
        </div>
        <div class="title w-full flex items-center justify-center text-center max-w-[924px]">
            <h1 class="flex text-3xl xl-1230:text-[52px] xl-1230:leading-[120%] text-(color:--primary) font-bold">Acompanhe todas as notícias sobre o mercado de construção e arquitectura do mercado angolano</h1>
        </div>
        <div class="categories-scroller w-full max-w-screen overflow-x-auto xl-1230:h-fit xl-1230:w-[85%] flex xl:flex-wrap items-center justify-start xl-1230:justify-center gap-2 gap-y-4">
            @for (category of categories(); track $index) {
                <div class="category">
                    <a
                    [ngClass]="
                        {
                            'bg-(color:--primary) text-white': active() === $index,
                            'bg-(color:--primary)/[.05]': !( active() === $index)
                        }"
                    class="xl:text-base block whitespace-nowrap transition-colors text-sm text-(color:--primary) px-4 py-2.5 rounded-full"
                    (click)="changeCategory($index)"
                    >
                        {{ category.name }}
                    </a>
                </div>
            }
        </div>

        <div class="searchbar flex items-center justify-center px-3 gap-x-2 w-full xl-1230:w-[40%]">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19 19L15.5001 15.5M18 9.5C18 14.1944 14.1944 18 9.5 18C4.80558 18 1 14.1944 1 9.5C1 4.80558 4.80558 1 9.5 1C14.1944 1 18 4.80558 18 9.5Z" stroke="#00376D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <input [(ngModel)]="searchTerm" type="search" placeholder="Pesquisa por qualquer assunto sobre construção e arquitectura" class="outline-none placeholder:text-[#A4A4A4] placeholder:text-[12px] xl:placeholder:text-[14px] text-[12px] xl:text-[14px]">
        </div>
    </div>
    
</div>
