<div class="section-content bg-(color:--secondary) py-10 xl:py-28">
    <div class="limited-container flex flex-col gap-10 xl:gap-20">
        <div class="section-header pt-5 xl:mb-16 flex justify-center md:justify-center items-center">
            <div data-aos="fade-up" class="section-title max-w-[850px] flex flex-col gap-6">
                <h1 class="text-2xl xl-1230:text-5xl text-center !font-['SpaceGrotesk'] text-(color:--primary) font-bold">
                    A todo momento subempreitamos e somos subempreteiros
                </h1>
                <p class="text-base xl:text-lg text-center !font-['SpaceGrotesk'] text-(color:--primary) font-medium">
                    Construímos obras públicas de infraestrutura integradas e edificações e construímos edifícios 
                </p>
            </div>
        </div>
        <div data-aos="fade-up" class="section-image xl:h-[640px]">
            <img src="/images/about-us/white-house.png" class="w-full h-full object-cover object-center" alt="">
        </div>

        <div data-aos="fade-up" class="cta flex justify-center">
            <button [routerLink]="['/contact-us']" class="bg-(color:--primary) !font-['SpaceGrotesk'] font-bold text-(color:--secondary) py-4 px-6 cursor-pointer flex gap-3 leading-[150%] justify-between items-center">
                Entrar em contacto
                <svg class="" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.70697 16.9496L15.414 11.2426L9.70697 5.53564L8.29297 6.94964L12.586 11.2426L8.29297 15.5356L9.70697 16.9496Z" fill="#DCF906"/>
                </svg>
            </button>
        </div>
    </div>
</div>