<div class="section-content limited-container">
    <div class="section-header pt-5 mb-16 flex justify-center md:justify-center items-center">
        <div class="section-title max-w-[1034px]" data-aos="fade-up">
            <h1 class="text-2xl xl:text-5xl text-center !font-['SpaceGrotesk'] text-(color:--primary) font-bold">
                Servimos o mercado com soluções económicas e no prazo
            </h1>
        </div>
    </div>

    <div class="cards-container overflow-x-auto">
        <div class="slider-boxes w-fit gap-y-8 gap-x-2 xl:w-full flex justify-between items-stretch">
            @for(segment of this.segments; track $index){
                <app-card-template
                [imagePath]="segment.imagePath"
                [title]="segment.title"
                [slug]="segment.slug"
                [description]="segment.description"
                />
            }
        </div>
    </div>

</div>

<div class="cover my-10 xl:my-28" data-aos="fade-up">
    <img src="/images/services/cover.png" class="w-full h-full object-cover object-center" alt="">
</div>