<div class="section-form flex justify-start gap-2 flex-wrap py-10 xl-1230:py-28">
    <div class="limited-container">
        <div class="contact-us-module-section-content">
            <div class="contact-us--section flex flex-col xl-1230:flex-row-reverse xl-1230:items-start xl-1230:justify-end gap-y-16 xl-1230:gap-x-24">
                <div class="main-content-description xl-1230:w-[40%] xl-1230:h-full">
                    <div class="title">
                        <h1 class="text-3xl font-bold text-(color:--primary) !font-['SpaceGrotesk']">
                            Envie-nos uma mensagem
                        </h1>
                        <p class="max-w-[488px] text-lg my-6 text-(color:--primary) font-medium !font-['SpaceGrotesk']">
                            Nosso compromisso é com a excelência em tudo o que fazemos, assegurando a qualidade dos produtos para que nossos clientes recebam os melhores serviços.
                        </p>
                    </div>
                    <div class="form">
                        <form
                        method="POST"
                        (submit)="submit()"
                        [formGroup]="contactUsFormGroup"
                        class="w-full">
                            <div class="form-row mb-3 xl-1230:mb-8 flex flex-col gap-y-3 xl-1230:gap-y-5 gap-x-3 xl-1230:gap-x-5 md:flex-row md:justify-between md:items-center">
                                <div class="input w-full">
                                    <input
                                    type="text"
                                    formControlName="fullname"
                                    class="placeholder:text-[#A4A4A4] placeholder:text-[12px] xl-1230:placeholder:text-[14px] text-[12px] xl-1230:text-[14px]"
                                    placeholder="Nome Completo"
                                    [ngClass]="
                                    {
                                        'is-invalid': this.contactUsFormGroup.get('fullname').invalid && this.contactUsFormGroup.get('fullname').touched
                                    }"
                                    required />
                                </div>
                                <div class="input w-full">
                                    <input
                                    type="email"
                                    formControlName="email"
                                    class="placeholder:text-[#A4A4A4] placeholder:text-[12px] xl-1230:placeholder:text-[14px] text-[12px] xl-1230:text-[14px]"
                                    placeholder="E-mail"
                                    [ngClass]="
                                    {
                                        'is-invalid': this.contactUsFormGroup.get('email').invalid && this.contactUsFormGroup.get('email').touched
                                    }"
                                    required />
                                </div>
                            </div>
                            <div class="form-row mb-3 xl-1230:mb-8 flex flex-col gap-y-3 xl-1230:gap-y-5 gap-x-3 xl-1230:gap-x-5 md:flex-row md:justify-between md:items-center">
                                <div class="input w-full">
                                    <input
                                    type="tel"
                                    formControlName="phone"
                                    class="placeholder:text-[#A4A4A4] placeholder:text-[12px] xl-1230:placeholder:text-[14px] text-[12px] xl-1230:text-[14px]"
                                    placeholder="Telefone"
                                    [ngClass]="
                                    {
                                        'is-invalid': this.contactUsFormGroup.get('phone').invalid && this.contactUsFormGroup.get('phone').touched
                                    }"
                                    required >
                                </div>
                                <div class="input w-full">
                                    <select
                                    formControlName="industry"
                                    class="text-[#A4A4A4] xl-1230:placeholder:text-[14px] text-[12px] xl-1230:text-[14px]"
                                    [ngClass]="
                                    {
                                        'is-invalid': this.contactUsFormGroup.get('industry').invalid && this.contactUsFormGroup.get('industry').touched
                                    }"
                                    id="">
                                        <option value="" disabled selected>Selecione sua indústria</option>
                                        <option>Indústria 1</option>
                                        <option>Indústria 2</option>
                                        <option>Indústria 3</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row mb-3 xl-1230:mb-6">
                                <textarea
                                formControlName="details"
                                placeholder="Detalhes adicionais"
                                class="placeholder:text-[#A4A4A4] placeholder:text-[12px] xl-1230:placeholder:text-[14px] text-[12px] xl-1230:text-[14px]"
                                rows="5"
                                [ngClass]="
                                    {
                                        'is-invalid': this.contactUsFormGroup.get('details').invalid &&
                                        this.contactUsFormGroup.get('details').touched
                                    }"
                                id="details"></textarea>
                            </div>
                            <div class="button-submit w-full md:flex md:flex-row-reverse md:justify-between md:items-center md:gap-x-10">
                                @if (messageSent() == null) {
                                    <div class="check w-full md:w-[50%] flex justify-between md:justify-end xl-1230:justify-between items-center mb-8 md:mb-0">
                                        <label for="check" class="text-[#808080] text-[14px] leading-[20px] w-[70%] md:w-[70%] xl-1230:w-full">
                                            Aceito os Termos de uso e Políticas de Privacidade.
                                        </label>
                                        <input type="checkbox" formControlName="acceptTerms" class="w-full" id="check">
                                    </div>
                                    <button [disabled]="this.contactUsFormGroup.invalid" class="bg-(color:--primary) min-w-[205px] disabled:bg-(color:--primary)/80 disabled:cursor-auto duration-100 !font-['SpaceGrotesk'] text-sm font-bold text-(color:--secondary) py-4 px-6 xl-1230:px-3 xl:!px-6 cursor-pointer flex gap-3 leading-[150%] justify-center items-center">
                                        @if (isSending()) {
                                            <img class="w-6 h-6" src="static/loader.svg" alt="">
                                        } @else {
                                            Enviar mensagem
                                            <svg class="" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.70697 16.9496L15.414 11.2426L9.70697 5.53564L8.29297 6.94964L12.586 11.2426L8.29297 15.5356L9.70697 16.9496Z" fill="#DCF906"/>
                                            </svg>
                                        }
                                    </button>
                                } @else {
                                    @if (messageSent()) {
                                        <p class=" text-green-600 max-w-[500px]">A sua mensagem foi enviada para o nosso email de contacto.</p>
                                    } @else {
                                        <p class="text-red-600 max-w-[500px]">Não foi possível enviar a sua mensagem para o nosso email. Tente outra vez ou reporte este erro.</p>
                                    }
                                }
                            </div>
                        </form>
                    </div>
                </div>
                <div class="main-image-section hidden w-full xl-1230:flex xl-1230:w-[550px] h-[340px] xl-1230:h-[560px]">
                    <img src="/images/map.png" class="w-full h-full object-coverobject-center" alt="">
                </div>
            </div>
        </div>
    </div>
</div>