<div class="section-content py-10 xl:pb-28">
    <div class="limited-container flex flex-col-reverse gap-10 xl-1230:flex-row justify-between items-center">
        <div class="image max-w-[616px]">
            <img src="/images/services/destruction.png" class="w-full h-full object-cover object-center" alt="">
        </div>
        <div class="content flex flex-col gap-y-6 max-w-[616px]">
            <h1 class="text-3xl xl:text-5xl font-bold leading-[120%] !font-['SpaceGrotesk'] text-(color:--primary)">
                Utilizamos os melhores recursos tecnologicos da engenharia moderna para prologar a vida util do seu imóvel.
            </h1>
        </div>
    </div>
</div>