<div class="section-content bg-(color:--primary) bg-[url('/static/home-statement-pattern.svg')] bg-cover py-10 xl:py-28">
    <div class="content text-center font-bold limited-container flex justify-center">
        <h1 class=" text-(color:--secondary) text-center uppercase mb-6  xl:mb-0 text-2xl xl-1230:text-4xl xl:text-5xl leading-[120%] !font-['SpaceGrotesk'] xl:max-w-[75%]">
            CONSTRUIMOS OBRAS PÚBLICAS DE INFRASETRUTURAS ITEGRADAS E EDIFICAÇÕES E CONSTRUIMOS EDIFÍCIOS
        </h1>
    </div>
</div>
