<div class="pattern-overlay absolute hidden 3xl:block top-0 left-0 z-[1]">
    <img src="/static/home-hero-left-pattern.svg" class="" alt=""> 
</div>
<div class="hero-content relative z-[2]">
    <div class="limited-container flex flex-col gap-8 items-center xl-1230:flex-row xl-1230:justify-between xl-1230:items-center">
        <div class="content flex flex-col gap-8 xl:max-w-[616px]">
            <h1 class="!font-['SpaceGrotesk'] text-(color:--primary) text-4xl xl:text-6xl font-bold leading-[120%]">
                Realizamos obras seguindo as melhores práticas de engenharia.
            </h1>
            <div class="call-to-action">
                <button [routerLink]="['/services']" class="bg-(color:--secondary) !font-['SpaceGrotesk'] font-bold text-(color:--primary) py-4 px-6 cursor-pointer flex gap-3 leading-[150%] justify-between items-center">
                    Conheça nossos serviços
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.70697 16.9496L15.414 11.2426L9.70697 5.53564L8.29297 6.94964L12.586 11.2426L8.29297 15.5356L9.70697 16.9496Z" fill="#00376D"/>
                    </svg>
                </button>
            </div>
        </div>
        <div class="image w-full xl:max-w-[616px] h-[340px] xl-1230:h-[440px] xl:h-[640px] relative">
            <div class="pattern-overlay w-full h-full absolute top-0 left-0">
                <img src="/static/home-hero-right-pattern.svg" class="w-full h-full object-cover object-center" alt=""> 
            </div>
            <img src="/images/home/hero/hero.png" class="w-full h-full object-cover object-center" alt="">
        </div>
    </div>
</div>