<div class="section-content bg-(color:--primary) bg-[url('/static/home-statement-pattern.svg')] bg-cover py-10 xl:py-28" data-aos="fade-up">
    <div class="content text-center font-bold limited-container">
        <h1 class=" text-(color:--secondary) mb-6  xl:mb-0 text-2xl xl:text-5xl leading-[120%] !font-['SpaceGrotesk']">
            BUILD HARD AND IMPROVE THE CHALLENGE
        </h1>
        <h1 class=" text-(color:--secondary) text-2xl xl:text-5xl leading-[120%] !font-['SpaceGrotesk']">
            Construa Duro e Melhore o Desafio
        </h1>
    </div>
</div>

<div class="scaled-image mt-16 xl:mt-28" data-aos="fade-up">
    <img src="/images/home/statement/scalable-image.png" class="w-full h-full object-cover object-center" alt="">
</div>