<div class="section-content py-10 xl:py-28">
    <div class="limited-container flex flex-col-reverse gap-10 xl-1230:flex-row justify-between items-center">
        <div data-aos="fade-right" class="image max-w-[616px]">
            <img src="/images/about-us/young.png" class="w-full h-full object-cover object-center" alt="">
        </div>
        <div data-aos="fade-left" class="content flex flex-col gap-y-6 max-w-[616px]">
            <h1 class="text-3xl xl:text-5xl font-bold leading-[120%] !font-['SpaceGrotesk'] text-(color:--primary)">
                É inesgotável a nossa vontade de captar e potencializar talento, criando oportunidades de uma carreia profissiona de elevada experiência
            </h1>
            <p class="leading-[150%] text-[rgba(99,99,99,1)]">
                A TIAGO CÉSAR, ENGENHARIA, LDA. é uma empresa angolana do ramo da prestação de serviços da construção civil que conta com a experiência de colaboradores que servem o mercado há mais 3 décadas no sector.
            </p>
        </div>
    </div>
</div>