<div class="section-content bg-(color:--secondary) py-10 xl:py-28">
    <div class="limited-container flex flex-col gap-10 xl-1230:flex-row justify-between items-center">
        <div data-aos="fade-right" class="content flex flex-col gap-y-6 max-w-[616px]">
            <h1 class="text-3xl xl:text-5xl font-bold leading-[120%] !font-['SpaceGrotesk'] text-(color:--primary)">
                Criamos no mercado a parceria estratégica de modos a tornar possível necessidades dos nossos clientes
            </h1>
        </div>
        <div data-aos="fade-left" class="image max-w-[616px] h-[362px] xl:h-[762px]">
            <img src="/images/about-us/workers.png" class="w-full h-full object-cover object-center" alt="">
        </div>
    </div>
</div>