<div class="section-content relative bg-[url('/images/services/hero.png')] bg-no-repeat xl:bg-[center_top_-150px] h-[500px] xl:h-[764px]">
    <div class="overlay absolute w-full h-full bg-linear-[-95deg,rgba(0,0,0,0)_0%,rgba(0,55,109,1)_90%] z-[1]"></div>
    <div class="limited-container">
        <div class="content !relative !z-[2] max-w-[616px] flex flex-col gap-y-8 py-16 xl:py-28">
            <h1 class="text-4xl xl:text-5xl z-[2] font-bold leading-[120%] !font-['SpaceGrotesk'] text-white">
                Realizamos obras seguindo as melhores práticas de engenharia.
            </h1>
            <p class="text-base xl:text-lg z-[2] font-medium leading-[150%] !font-['SpaceGrotesk'] text-white">
                É uma empresa que se compromete trazer ao mercado um conjunto de soluções técnicas de construção alinhadas às melhores práticas e técnicas da engenharia contemporânea, se posicionando no mercado, para todos os efeitos, a prestar serviços de construção de obras de engenharia civil.
            </p>
    
            <button [routerLink]="['/contact-us']" class="bg-(color:--secondary) z-[2] w-fit !font-['SpaceGrotesk'] font-bold text-(color:--primary) py-4 px-6 cursor-pointer flex gap-3 leading-[150%] justify-center items-center">
                Entrar em contacto com a empresa
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.70697 16.9496L15.414 11.2426L9.70697 5.53564L8.29297 6.94964L12.586 11.2426L8.29297 15.5356L9.70697 16.9496Z" fill="#00376D"/>
                </svg>
            </button>
        </div>
    </div>
</div>